<%# here we just used the common tags in ejs like variable access tag %>
<%# here it is a ejs file %>
<%# where you put all data in ejs formatted file %>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Date</title>
  
  </head>
  <body>
    <h1>Today is <%= day %> and it is <%= wday %></h1>
    <p>there is <%= work %> for you to work Today</p>
  </body>
</html>

<!-- the sign <%= variable name %> is called as markup and whole file is called as the template -->
