<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>
    <h1><%=data%></h1>
    <ul>
  

      <%  var f=element.length;%>
        <%for(var i=0;i<f;i++){%>
          <li><%=element[i]%></li>
      <%  }%>

    </ul>

    <form class="" action="/" method="post">
      <label for="">Write new work : </label>
      <input type="text" name="box" value="">
      <button type="submit" name="submit">Submit</button>
    </form>

  </body>
</html>
